@font-face {
   font-family: Pacifico;
   src: url('../fonts/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2') format('woff');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: Raleway;
   src: url('../fonts/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2') format('woff');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Raleway light';
   src: url('../fonts/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2') format('woff');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Raleway semi bold';
   src: url('../fonts/xkvoNo9fC8O2RDydKj12bwzyDMXhdD8sAj6OAJTFsBI.woff2') format('woff');
   font-weight: 400;
   font-style: normal;
}

html {
   min-width: 100%;
   min-height: 100%;
   background-color: #f4f4f4;
}

body {
   width: 1600px;
   height: 2494px;
}

.sec1 {
   z-index: 0;
   height: 500px;
   position: relative;
   left: 263px;
   top: 60px;
   background-color: #f4f4f4;
   transform: translate(0, -160px);
}

.sec2 {
   z-index: -1;
   height: 423px;
   background-color: #e3e3e3;
   transform: translate(0, -169px);
}

.sec3 {
   z-index: 0;
   height: 737px;
   background-color: #f4f4f4;
}

header h1 {
   font-family: Pacifico, sans-serif;
   font-size: 60px;
   z-index: 1;
   transform: translate(760px, -653px);
}

footer {
   transform: translate(0, -164px);
   height: 134px;
   background-color: #e3e3e3;
}

header p {
   font-family: 'Raleway light', sans-serif;
   font-size: 36px;
   z-index: 1;
   transform: translate(475px, -595px);
}

.h1 {
   font-family: 'Raleway semi bold', sans-serif;
   font-size: 22px;
   position: relative;
   right: 2px;
   bottom: 13px;
}

.p1 {
   font-family: Raleway, sans-serif;
   font-size: 16px;
   line-height: 25px;
   position: relative;
   top: 7px;
   right: 0;
}

.h2 {
   font-family: 'Raleway semi bold', sans-serif;
   font-size: 22px;
   position: relative;
   top: 62px;
   right: 2px;
}

.p2 {
   font-family: Raleway, sans-serif;
   font-size: 16px;
   line-height: 25px;
   position: relative;
   top: 80px;
   right: 0;
}

.h3 {
   font-size: 22px;
   font-family: 'Raleway semi bold', sans-serif;
   position: relative;
   left: 750px;
   bottom: 207px;
}

.p3 {
   font-family: Raleway, sans-serif;
   font-size: 16px;
   line-height: 25px;
   position: relative;
   left: 750px;
   bottom: 188px;
}

.h4 {
   font-size: 22px;
   font-family: 'Raleway semi bold', sans-serif;
   position: relative;
   left: 750px;
   bottom: 132px;
}

.p4 {
   font-family: Raleway, sans-serif;
   font-size: 16px;
   line-height: 25px;
   position: relative;
   left: 750px;
   bottom: 114px;
}

.h5 {
   font-size: 22px;
   font-family: 'Raleway semi bold', sans-serif;
   position: relative;
   top: 57px;
   left: 200px;
}

.p5 {
   font-family: Raleway, sans-serif;
   font-size: 16px;
   line-height: 25px;
   position: relative;
   top: 78px;
   left: 200px;
}

.h6 {
   font-size: 24px;
   font-family: Raleway, sans-serif;
   position: relative;
   left: 380px;
   bottom: 108px;
}

.p6 {
   font-size: 14px;
   font-family: 'Raleway semi bold', sans-serif;
   position: relative;
   left: 725px;
   bottom: 80px;
}

.sec3 > .p6 > p:nth-child(2) {
   font-family: Raleway, sans-serif;
   font-size: 14px;
   position: relative;
   left: 80px;
   bottom: 15px;
}

.h7 {
   font-family: 'Raleway semi bold', sans-serif;
   font-size: 24px;
   position: relative;
   left: 655px;
   top: 337px;
}

.p7 {
   font-size: 16px;
   font-family: Raleway, sans-serif;
   position: relative;
   left: 540px;
   top: 360px;
}

.contact {
   font-size: 16px;
   font-family: Raleway, sans-serif;
   position: relative;
   left: 517px;
   top: 65px;
}

.downlaod {
   font-size: 16px;
   font-family: Raleway, sans-serif;
   position: relative;
   left: 606px;
   top: 49px;
}

.press {
   font-size: 16px;
   font-family: Raleway, sans-serif;
   position: relative;
   left: 720px;
   top: 34px;
}

.email {
   font-size: 16px;
   font-family: Raleway, sans-serif;
   position: relative;
   left: 790px;
   top: 18px;
}

.support {
   font-size: 16px;
   font-family: Raleway, sans-serif;
   position: relative;
   left: 867px;
   top: 2px;
}

.privacy-policy {
   font-size: 16px;
   font-family: Raleway, sans-serif;
   position: relative;
   left: 960px;
   bottom: 15px;
}

.hero {
   height: 700px;
   z-index: -1;
}

.logo {
   z-index: 0;
   transform: translate(660px, -590px);
}

.down-arrow {
   position: absolute;
   z-index: 0;
   transform: translate(765px, -2200px);
}

.phone {
   position: absolute;
   z-index: 0;
   transform: translate(560px, -2125px);
}

.white-dot {
   position: absolute;
   z-index: 2;
   transform: translate(837px, -1923px);
}

.white-dot-1 {
   position: absolute;
   z-index: 2;
   transform: translate(710px, -1834px);
}

.white-dot-2 {
   position: absolute;
   z-index: 2;
   transform: translate(710px, -1623px);
}

.black-dot {
   position: absolute;
   z-index: 2;
   transform: translate(840px, -1720px);
}

.cursor {
   position: absolute;
   z-index: 3;
   transform: translate(852px, -1703px);
}

.angled-line {
   position: absolute;
   z-index: 2;
   transform: translate(855px, -1705px);
}

.video-image {
   position: absolute;
   z-index: 1;
   transform: translate(878px, -1270px);
}

.play {
   position: absolute;
   z-index: 2;
   transform: translate(895px, -1028px);
}

.video-play-bar {
   position: absolute;
   z-index: 3;
   transform: translate(985px, -1028px);
}

.apple {
   position: absolute;
   z-index: 2;
   transform: translate(200px, -1102px);
}

.android {
   position: absolute;
   z-index: 2;
   transform: translate(288px, -1102px);
}

.windows {
   position: absolute;
   z-index: 2;
   transform: translate(375px, -1102px);
}

.cursor-1 {
   position: absolute;
   z-index: 3;
   transform: translate(412px, -1062px);
}

.people {
   position: absolute;
   z-index: 2;
   transform: translate(0, -723px);
}

.twitter {
   position: absolute;
   z-index: 2;
   transform: translate(661px, -258px);
}

.youtube {
   position: absolute;
   z-index: 2;
   transform: translate(882px, -258px);
}

.pinterest {
   position: absolute;
   z-index: 2;
   transform: translate(750px, -258px);
}

.google {
   position: absolute;
   z-index: 2;
   transform: translate(794px, -258px);
}

.active-person {
   position: absolute;
   z-index: 2;
   transform: translate(914px, -645px);
}

.facebook {
   position: absolute;
   z-index: 2;
   transform: translate(706px, -258px);
}

.linkedin {
   position: absolute;
   z-index: 2;
   transform: translate(838px, -258px);
}

.cursor-2 {
   position: absolute;
   z-index: 3;
   transform: translate(915px, -590px);
}

.cursor-3 {
   position: absolute;
   z-index: 3;
   transform: translate(765px, -238px);
}
